/* Main Styles */
body {
    background-color: #EEEEEE;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #222222;
}

/* Text Styles */
.main-header {
    height: 75px;
    width: 100%;
    margin-top: -5px;
    font-size: 42px;
    font-weight: 200;
    border-bottom: 1px solid #CCC;
}
.main-section-title {
    font-size: 20px;
    font-weight: 200;
    padding: 15px 0;
    color: #8C5353;
}
.text-large {
    font-size: 42px;
    font-weight: 200;
}
.text-green {
    color: #6B9375;
}
.text-red {
    color: #8C5353;
}

a {
    color: #a44242;
}

/* Image Styles */
.profile-image {
    height: 48px;
    width: 48px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* UI Element Styles */
textarea, input { outline: none; }
.input-large-text {
    height: 42px;
    font-size: 16px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    transition: all 0.15s;
}
.textarea-full {
    height: 200px;
    font-size: 12px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    transition: all 0.15s;
}
    input:hover, textarea:hover {
        border: 1px solid #D3B8B8;
    }
    input:focus, textarea:focus {
        border: 1px solid #8C5353;
    }

.button {
    height: 42px;
    width: auto;
    display: inline-block;
    padding: 6px 20px;
    font-size: 20px;
    font-weight: 200;
    color: #8C5353;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: white;
    transition: all 0.1s;
    position: relative;
    cursor: hand;
    cursor: pointer;
}
    .button:hover {
        top: -2px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

.button-red {
    border: 1px solid #a44242;
    border-radius: 5px;
    background-color: #b64747;
    color: white;
}

.progress {
    transition: all 0.15s;
}
.progress.hidden {
    margin-top: 20px;
    display: none;
}

/* Mobile Navbar Styles */
#mobile-navbar {
    width: 100%;
    height: 44px;
    background: #b64747; /* Old browsers */
    background: -moz-linear-gradient(top,  #b64747 0%, #a44242 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b64747 0%,#a44242 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b64747 0%,#a44242 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b64747', endColorstr='#a44242',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#menu-toggle {
    line-height: 44px;
    font-size: 22px;
    color: white;
    position: relative;
    left: 9px;
    top: -1px;
}
#menu-toggle:hover {
    text-decoration: none;
}

/* Sidebar Styles */
#sidebar-cont {
    margin: 25px;
}
.sidebar-line {
    height: 1px;
    width: 100%;
    background-color: #C98D8D;
    margin: 20px 0;
}
#sidebar-logo {
    width: 185px;
    margin-left: 7px;
}
#sidebar-profile-cont {
    min-height: 50px;
    position: relative;
    margin-bottom: 20px;
}
#sidebar-profile-name {
    min-height: 50px;
    width: 130px;
    position: absolute;
    top: 0;
    left: 58px;
    font-size: 18px;
    color: white;
}
#sidebar-profile-name div {
    font-size: 12px;
    color: #BBB;
    margin: 2px 0;
}
.sidebar-profile-button {
    height: 30px;
    width: 200px;
    border: 1px solid #C98D8D;
    border-radius: 5px;
    color: white;
    line-height: 28px;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    position: relative;
    transition: all 0.1s;
    cursor: hand;
    cursor: pointer;
}
    .sidebar-profile-button:hover {
        border: 1px solid white;
        background-color: white;
        color: #a44242;
        top: -1px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
    .sidebar-profile-button:not(:first-child) {
        margin-top: 10px;
    }
.sidebar-menu-item {
    height: 40px;
    width: 200px;
    line-height: 40px;
    font-size: 28px;
    font-weight: 300;
    text-align: right;
    color: white;
}
    .sidebar-menu-item:not(:first-child) {
        margin-top: 10px;
    }


.cont-image-offset {
    margin-right: 63px;
    position: relative;
    left: 63px;
    top: -48px;
}

.result-card {
    background-color: white;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
    .result-card a {
        font-size: 18px;
        color: #a44242;
        cursor: pointer; cursor: hand;
        transition: 0.15s all;
    }