{% extends 'base.html' %}
{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div class="main-header">
        <div class="col-md-12">Hi {{ user.first_name }}!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="main-section-title">WHILE YOU WERE GONE...</div>
        <div class="col-md-6">
            <p>
                <b>1 new result</b><br>
                diabetes AND obesity AND insulin
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <b>1 new result</b><br>
                diabetes AND obesity AND insulin
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <b>1 new result</b><br>
                diabetes AND obesity AND insulin
            </p>
        </div>
        <div style="clear: both"></div>

        <div class="main-section-title">REVIEW ACTIVITY</div>
        <div class="col-md-6">
            <img class="profile-image" src="http://lorempixel.com/300/300">
            <div class="cont-image-offset">
                <b>[first] [last]</b><br>
                reviewed <b>[paper name]</b><br>
                <span class="text-green">[query]</span>
            </div>
        </div>
        <div class="col-md-6">
            <img class="profile-image" src="http://lorempixel.com/300/300">
            <div class="cont-image-offset">
                <b>[first] [last]</b><br>
                reviewed <b>[paper name]</b><br>
                <span class="text-red">[query]</span>
            </div>
        </div>
        <div class="col-md-6">
            <img class="profile-image" src="http://lorempixel.com/300/300">
            <div class="cont-image-offset">
                <b>[first] [last]</b><br>
                reviewed <b>[paper name]</b><br>
                <span class="text-red">[query]</span>
            </div>
        </div>
        <div class="col-md-6">
            <img class="profile-image" src="http://lorempixel.com/300/300">
            <div class="cont-image-offset">
                <b>[first] [last]</b><br>
                reviewed <b>[paper name]</b><br>
                <span class="text-green">[query]</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-section-title">RECENT QUERIES</div>
        hi
    </div>
  </div>
</div>
{% endblock %}