{% extends 'base.html' %}
{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div class="main-header">
        <div class="col-md-12">Hi [first]!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="main-section-title">WHILE YOU WERE GONE...</div>
        hi
        <div class="main-section-title">REVIEW ACTIVITY</div>
        <div class="col-md-6">hey</div>
        <div class="col-md-6">hey</div>
        <div class="col-md-6">hey</div>
        <div class="col-md-6">hey</div>
        <div class="col-md-6">hey</div>
    </div>
    <div class="col-md-4">
        <div class="main-section-title">RECENT QUERIES</div>
        hi
    </div>
  </div>
</div>
{% endblock %}