{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div class="main-header">
        <div class="col-md-12">Hi {{ user.username }}!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="main-section-title">Details</div>
        <div class="col-md-6">
            <p>
                <b>Name: {{ user.first_name }} {{ user.last_name }}</b><br>
                Email: {{ user.email }}
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <b>Working for: {{ user.researcher.institution }}</b><br>
                profile picture: <img id="sidebar-profile-image" class="profile-image" src="/media/{{ user.researcher.picture }}" onerror="if (this.src != '{% static "img/user.png" %}') this.src = '{% static "img/user.png" %}';">
            </p>
        </div>
        <div style="clear: both"></div>
    <div class="col-md-4">
        <div class="sidebar-profile-button" onclick="location.href='/edit/';">EDIT</div>
    </div>
  </div>
</div>
</div>
{% endblock %}