{% extends 'base.html' %}
{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div class="main-header">
        <div class="col-md-12">Review</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="main-section-title">QUERY</div>
        <div class="col-md-12" id="query">
            [query]
        </div>
        <div class="col-md-12" id="details">
            <h3>Paper Name</h3>
            Abstract<br>
            Abstract<br>
            Abstract<br>
            Abstract
        </div>
        <div class="col-md-12">
            <textarea id="notes" class="textarea-full" placeholder="Notes"></textarea>
        </div>
        <div class="col-md-12">
            <button class="button button-red pull-right" onclick="review_save('1')">YES</button>
            <button class="button pull-right" onclick="review_save('0')" style="margin-right: 10px">NO</button>
            <button class="button pull-left" onclick="review_getNew()">SKIP</button>
            <input type="hidden" id="paperID">
            <input type="hidden" id="paperTitle">
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-section-title">RECENT REVIEWS</div>
        <div class="col-md-12" id="recentReviews">

        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function review_getNew() {
        $.get('/ajax/review', function(data){
            $('#query').text(data.queryString);
            $('#paperID').val(data.paperID);
            $('#paperTitle').val(data.title);
            if (data.paperUrl) {
                $('#details').html('<h3>' + data.title + '</h3><a href="' + data.paperUrl + '">Open Paper</a>');
            } else {
                $('#details').html('<h3>' + data.title + '</h3>' + data.abstract);
            }
        });
    }

    function review_save(decision) {
        $.post('/ajax/review/', {'csrfmiddlewaretoken' : '{{ csrf_token }}', 'relevant': decision, 'paperID': $('#paperID').val(), 'notes': $('#notes').val()},function(data){
            if ($("#recentReviews > div").length >= 5) {
                $("#recentReviews > div:nth-child(5)").remove();
            }
            $("#recentReviews").prepend('<p><b>' + $('#paperTitle').val() + '</b><br>' + $('#query').text() + '</p>');
            review_getNew();
        });
    }

    review_getNew();
</script>
{% endblock %}