{% extends 'base.html' %}
{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div class="main-header">
        <div class="col-md-12">Review</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="main-section-title">QUERY</div>
        <div class="col-md-12">

        </div>
    </div>
    <div class="col-md-4">
        <div class="main-section-title">RECENT REVIEWS</div>
        <div class="col-md-12">
            hi
        </div>
    </div>
  </div>
</div>
{% endblock %}